* {
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition:none!important;
}
body {
    width: 210mm;
    height: 302.3mm;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

@page {
    margin: 0 0 0 0;
}

#main {
    display: initial;
}
#resume-col-left {
    position: initial;
    display: initial;
    height: 302.3mm;
}
#resume-col-right {
    position: initial;
    background-color: white !important;
    display: initial;
    height: 302.3mm;
}
#resume-photo-name {
    height: 100mm;
}
#resume-my-infos {
    height: 202.3mm;
}

#me-name {
    font-size: 300%;
}
#me-title {
    font-size: 300%;
}

