body {
    font-family: 'Hind';
    background-color: #DBDBDB !important;
    -webkit-print-color-adjust:exact;
}
h1>i, h2>i {
    padding-right: 2%;
}

a:link, a:visited {
    color: inherit;
}

/* Avoid the horizontal scrollbar */
/* http://stackoverflow.com/questions/28438184/unwanted-horizontal-scroll-bar-using-bootstrap-3 */
#main>.row {
    margin-left: 0;
    margin-right: 0;
}

/* Column management, tricky part is to have both columns the same size */
/* http://stackoverflow.com/questions/25213171/how-to-make-bootstrap-column-height-to-100-row-height */
#main {
    display: table;
}
#resume-col-left {
    padding-right: 0;
    padding-left: 0;
    background-color: #404353 !important;
    -webkit-print-color-adjust:exact;
    display: table-cell;    
}
#resume-col-right {
    padding-right: 0;
    background-color: #F7F7F7 !important;
    -webkit-print-color-adjust:exact;
    display: table-cell;    
}
@media(min-width:992px) {
    #resume-col-left {
        float: none;
    }
    #resume-col-right {
        float: none;
        padding-left: 0;
    }
}

#resume-photo-name {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #323232 !important;
    -webkit-print-color-adjust:exact;
    color: #B3B3B3;
}
#me-name {
    font-size: 400%;
}
#me-title {
    font-size: 300%;
}
#me-avatar {
    border-radius: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}


#resume-my-infos {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #404353 !important;
    -webkit-print-color-adjust:exact;
    color: #B3B3B3;
}
#resume-contact-me i {
    padding-right: 1%;
}

.resume-experience, .resume-education{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 110%;
}

.resume-experience-logo, .resume-education-logo {
    opacity: 0.75;
    font-size: 60%;
}
.resume-experience-logo img, .resume-education-logo img {
    padding: 5%;
}

@media(max-width:992px) {
    .resume-experience-logo {
        margin-bottom: 2%;
    }
}
.resume-experience-title, .resume-education-title {
    font-size: 150%;
}
@media screen and (max-width: 992px) {
      .resume-experience-title.text-left, .resume-education-title.text-left {
          text-align: center;
       } 
    }

.resume-experience-description, .resume-education-description {

}

.resume-language-cap {
    padding: 0 0 0 0;
}
.resume-language-cap p {
    margin: 0 0 0 0;
}

