body {
    // width: 210mm;
    // height: 297mm;
    font-family: 'Hind';
    background-color: #DBDBDB;
}

#resume-col-left {
}
#resume-col-right {
}



#resume-photo-name {
    background-color: #323232;
    color: #B3B3B3;
}
#resume-my-name {
    font-size: 600%;
}
#resume-short-description {
    font-size: 500%;
}
.avatar {
    border-radius: 50%;
}


#resume-my-infos {
    background-color: #404353;
    color: #B3B3B3;
}



.resume-experience:first-of-type {
    
}
.resume-experience {
    font-size: 120%;
}
.resume-experience:last-of-type {

}

.resume-experience-logo {

}

.resume-experience-description {

}
