
body {
    font-family: 'Hind';
    background-color: #DBDBDB;
}
h1>i, h2>i {
    padding-right: 2%;
}

// Column management, tricky part is to have both columns the same size
// http://stackoverflow.com/questions/25213171/how-to-make-bootstrap-column-height-to-100-row-height
#main {
    display: table;
}
#resume-col-left {
    padding: 0 0 0 0;
    background-color: #404353;
    display: table-cell;    
}
#resume-col-right {
    padding: 0 0 0 0;
    background-color: #F7F7F7;
    display: table-cell;    
}
@media(min-width:992px) {
    #resume-col-right {
        float: none;
    }
    #resume-col-left {
        float: none;
    }
}

#resume-photo-name {
    background-color: #323232;
    color: #B3B3B3;
}
#resume-photo-name img {
    padding-top: 10%;
}
#resume-my-name {
    font-size: 500%;
}
#resume-short-description {
    font-size: 500%;
}
.avatar {
    border-radius: 50%;
}


#resume-my-infos {
    background-color: #404353;
    color: #B3B3B3;
}



.resume-experience:first-of-type {
    
}
.resume-experience {
    font-size: 120%;
}
.resume-experience:last-of-type {

}

.resume-experience-logo {

}

.resume-experience-description {

}

.resume-language-cap {
    padding: 0 0 0 0;
}
.resume-language-cap p {
    margin: 0 0 0 0;
}

