
body {
    background-image: url("green-wave.svg");
    background-repeat: no-repeat;
    width: 85mm;
    height: 55mm;
    font-family: 'Hind';
    background-color: #DBDBDB !important;
    -webkit-print-color-adjust:exact;
}
#main > div[class="row"] {
    margin: 0;
}

/* Override the font color when printing */
@media print {
    * {
        color: inherit !important;
        -webkit-print-color-adjust: exact; 
    }
}
#visit-col-left {
    padding-right: 0;
    padding-left: 0;
    height: 55mm;
    background-color: rgba(64, 67, 83, 0.5) !important;
    -webkit-print-color-adjust:exact;
    color: #E2E2E2 !important;
}
#me-name {
    font-size: 170%;
}
#me-title {
    font-size: 150%;
}

#visit-col-right {
    height: 55mm;
    background-color: rgba(247, 247, 257, 0.5) !important;
    -webkit-print-color-adjust:exact;
}

#me-description-short {
    font-size: 90%;
    margin: 5%;
    padding: 0;
}

#visit-contact-me {
    position: absolute;
    bottom: 0mm;
    font-size: 65%;
}
#visit-contact-me > p {
    margin-bottom: 1%;
}
#visit-contact-me i {
    padding-right: 1%;
}

