body {
    background-color: #DBDBDB !important;
    -webkit-print-color-adjust:exact;
}

#recto .main {
    background-image: url("green-wave.svg") !important;
    background-repeat: no-repeat !important;
    width: 85mm;
    height: 54mm;
    font-family: 'Hind';
}
.main > div[class="row"] {
    margin: 0;
}

.visit-col-left {
    padding-right: 0;
    padding-left: 0;
    height: 54mm;
    background-color: rgba(64, 67, 83, 0.8) !important;
    -webkit-print-color-adjust:exact;
    color: #E2E2E2 !important;
}
.me-name {
    margin-top: 5%;
    font-size: 170%;
}
.me-title {
    font-size: 150%;
}

.visit-col-right {
    height: 54mm;
    background-color: rgba(247, 247, 257, 0.25) !important;
    -webkit-print-color-adjust:exact;
}

.me-description-short {
    font-size: 90%;
    margin: 5%;
    padding: 0;
}

.visit-contact-me {
    position: absolute;
    bottom: 0mm;
    font-size: 65%;
}
.visit-contact-me > p {
    margin-bottom: 1%;
}
.visit-contact-me i {
    padding-right: 1%;
}

#verso {
    page-break-before: always;
}
#verso .main {
    /* background-image: url("green-wave.svg") !important; */
    background-color: #F7F7F7 !important;
    background-repeat: no-repeat !important;
    width: 85mm;
    height: 54mm;
    font-family: 'Hind';
}
#verso > div > div > div > div > div {
    height: 100%;
}
.qrcode {
    margin-left: 86px;
    -webkit-print-color-adjust:exact;
}
.qrcode>div>* {
    background-color: black !important;
}
.qrcode-link {
    font-size: 80%;
}

/* Override the font color when printing */
@media print {
    * {
        color: inherit !important;
        -webkit-print-color-adjust: exact; 

        -moz-transition: none !important;
        -o-transition: none !important;
        -webkit-transition: none !important;
        transition:none!important;
    }
    @page {
        margin: 0 0 0 0;
    }
    a:link, a:visited {
        color: inherit;
    }
    a[href]:after {
        content: none;
    }
}
